<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <script src="/static/js/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            min-width: 350px;
        }
    </style>
</head>

<body class="bg-stone-50 min-w-screen h-fit m-0 p-0 font-mono tracking-tight">
    {{ template "content"}}
    {{ template "player" }}
</body>

</html>
