{{ define "player" }}
<div
    class="w-11/12 h-16 bg-stone-50 border border-stone-900 bg-opacity-90 mx-auto fixed bottom-2 left-2/4 -translate-x-2/4 rounded-md backdrop-blur">
    <div
        class="h-[calc(100%-20px)] mx-auto w-[calc(100%-40px)] relative top-2/4 -translate-y-2/4 flex flex-row items-center justify-between overflow-hidden">
        <div class="flex-column  text-stone-900 w-fit max-w-[calc(100%-4rem)]">
            <div class="font-bold text-base text-ellipsis whitespace-nowrap overflow-hidden flex-nowrap"> Rockstar
                made</div>
            <div class="font-extralight text-base w-full text-ellipsis whitespace-nowrap overflow-hidden">
                Playboi
                carti</div>
        </div>
        <div class="w-8 h-8">
            <img class="object-cover" src="/static/icons/play-light-theme.png" alt="play button">
        </div>
    </div>
</div>
{{ end }}


{{ template "player" }}
